google-map {
    display: block;
    height: 400px;
    width: 400px;
}
h1 {
    size: 400px;
}
body {
    background-color: white;
}
session-card {
    width: 400px;
}
paper-material {
    width: 400px;
}
paper-card {
    display: flex;
    --paper-card-background-color: #d32f2f;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
