{% extends "base.html" %}
{% block meta %}
  {{ super() }}
  <meta id="upload-url" data-name={{ url_for('home.upload') }}>
{% endblock %}
{% block content %}
  <nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
    <form class="form-inline pull-xs-right" method="post" action="{{url_for('home.logout')}}">
      <button type="submit" class="btn btn-secondary">Log out</button>
    </form>
  </nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="welcome_msg">
            Welcome {{user.full_name}}
        </h1>
        <div class="dash">
        {% if user.genome_obj is undefined %}
            <div class="text-center">
                <div id="logbox">
                    <form id="genome-upload" method="post" enctype=multipart/form-data action="">
                    <div style="padding-bottom: 20px">
                        <input type="file" id="file-select" name=file>
                    </div>
                    <button type="submit" id="upload-btn" class="btn btn-info">Upload</button>
                  </form>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var form = document.getElementById('genome-upload')
        var fileSelect = document.getElementById('file-select')
        var uploadButton = document.getElementById('upload-btn')
        form.onsubmit = function(event) {
            event.preventDefault();

            //Update button text
            uploadButton.innerHTML = 'Uploading...';
            var formData = new FormData();
            formData.append('file', fileSelect.files[0]);

            var xhr = new XMLHttpRequest();
            var actionUrl = "0.0.0.0:5000" + $('#upload-url').data().name;
            xhr.open('POST', actionUrl, true);
            xhr.onload = function() {
              if (xhr.status === 200) {
                //File uploaded
                uploadButton.innerHtml = 'Upload';
              } else {
                alert('An error has occurred!');
              }
            };
            xhr.send(formData);
        };
    </script>
{% endblock %}
