{% extends "base.html" %}
{% block content %}
  <nav class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
    <form class="form-inline pull-xs-right" method="post" action="{{url_for('home.logout')}}">
      <button type="submit" class="btn btn-secondary">Log out</button>
    </form>
  </nav>
<div class="jumbotron">
    <div class="container">
        <h1 class="welcome_msg">
            Welcome {{user.full_name}}
        </h1>
        <div class="dash">
        {% if user.genome_obj is undefined %}
            <div class="text-center">
                <div id="logbox">
                    <form id="genome_upload" method="post" enctype=multipart/form-data action="{{url_for('home.upload')}}">
                    <div style="padding-bottom: 20px">
                        <input type="file" name=file>
                    </div>
                    <button type="submit" class="btn btn-info">Upload</button>
                  </form>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
