{% extends "base.html" %}
{% block content %}
<div class="col-md-6">
<div id="logbox">
  <form id="signup" method="post" action="/signup">
    <h1 style="padding-bottom: 20px">Sign Up</h1>
    <input name="user[name]" type="text" placeholder="Email address" autofocus="autofocus" required="required" class="input pass"/>
    <input name="user[password]" type="password" placeholder="Choose a password" required="required" class="input pass"/>
    <input name="user[password2]" type="password" placeholder="Confirm password" required="required" class="input pass"/>
    <button type="submit" class="btn btn-info">Create Account</button>
    <div class="text-center" style="padding-top: 20px">
        Already have an account? <a href="#" id="login_id">login</a>
    </div>
  </form>
</div>
</div>
{% endblock %}
